---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=jTEsHicAAAAJ&hl=en" target="_blank">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<h2>Journal Articles</h2>
<h3>Lead author</h3>
<ul>
   <li>
     Gaur, A., McGuire, J., O’Riordan, V., Curtis, J. and Daly, H., 2024.
     <i>
      <a href="https://www.sciencedirect.com/science/article/pii/S2211467X24000038" target="_blank">Dispersed settlement patterns can hinder the net-zero transition: Evidence from Ireland.</a> 
      </i>
      Energy Strategy Reviews, 51, p.101296.    
  </li>
  <li>
    <i>Gaur, A.S., Fitiwi, D.Z., Lynch, M. and Longoria, G., 2022. 
      <a href="https://doi.org/10.1016/j.enpol.2022.113136" target="_blank">Implications of heating sector electrification on the Irish power system in view of the Climate Action Plan.</a> 
      Energy Policy, 168, p.113136.
    </i>
  </li>
  <li>
    <i>Gaur, A., Balyk, O., Glynn, J., Curtis, J. and Daly, H., 2022. 
      <a href="https://www.sciencedirect.com/science/article/pii/S2667095X22000083" target="_blank">Low energy demand scenario for feasible deep decarbonisation: Whole energy systems modelling for Ireland.</a> 
      Renewable and Sustainable Energy Transition, 2, p.100024.
    </i>
  </li>  
  <li>
    <i>Gaur, A.S., Fitiwi, D.Z. and Curtis, J., 2021. 
      <a href="https://doi.org/10.1016/j.erss.2020.101764" target="_blank">Heat pumps and our low-carbon future: A comprehensive review.</a> 
      Energy Research & Social Science, 71, p.101764.
    </i>
  </li>
  <li>
    <i>Gaur, A.S., Das, P., Jain, A., Bhakar, R., and Mathur, J., 2019. 
      <a href="https://www.sciencedirect.com/science/article/pii/S2211467X19300768" target="_blank">Long-term energy system planning considering short-term operational constraints.</a> 
      Energy Strategy Reviews, 26, p.100383.
    </i>
  </li>
</ul>


