---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Please see <a href="https://scholar.google.com/citations?user=jTEsHicAAAAJ&hl=en" target="_blank">my Google Scholar profile</a> for an up-to-date list of publications.</div>
{% endif %}

{% include base_path %}
<h2>Journal Articles</h2>
<h3>
  Lead author
</h3>
<ul>
  <li>
    Gaur, A., Javaid, A., Kishimoto, P. and Daly, H. Under Review.
    <i>
      <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4970048" target="_blank">Evidence-based passenger transportation demand scenarios for South Asia in Integrated Assessment Models.</a>
     Under review in Transportation Research Part D.
    </i>
  </li>
  <li>
    Gaur, A., McGuire, J., O’Riordan, V., Curtis, J. and Daly, H., 2024.
    <i>
      <a href="https://www.sciencedirect.com/science/article/pii/S2211467X24000038" target="_blank">Dispersed settlement patterns can hinder the net-zero transition: Evidence from Ireland.</a>
     Energy Strategy Reviews, 51, p.101296.
    </i>
  </li>
  
  <li>
    Gaur, A., Balyk, O., Glynn, J., Curtis, J. and Daly, H., 2022. 
    <i>
      <a href="https://www.sciencedirect.com/science/article/pii/S2667095X22000083" target="_blank">Low energy demand scenario for feasible deep decarbonisation: Whole energy systems modelling for Ireland.</a>
      Renewable and Sustainable Energy Transition, 2, p.100024.
    </i>
  </li>  
  <li>
    Gaur, A.S., Fitiwi, D.Z., Lynch, M. and Longoria, G., 2022. 
    <i>
      <a href="https://doi.org/10.1016/j.enpol.2022.113136" target="_blank">Implications of heating sector electrification on the Irish power system in view of the Climate Action Plan.</a>
      Energy Policy, 168, p.113136.
    </i>
  </li>
  <li>
    Gaur, A.S., Fitiwi, D.Z. and Curtis, J., 2021. 
    <i>
      <a href="https://doi.org/10.1016/j.erss.2020.101764" target="_blank">Heat pumps and our low-carbon future: A comprehensive review.</a>
      Energy Research & Social Science, 71, p.101764.
    </i>
  </li>
  <li>
    Gaur, A.S., Das, P., Jain, A., Bhakar, R., and Mathur, J., 2019. 
    <i>
      <a href="https://www.sciencedirect.com/science/article/pii/S2211467X19300768" target="_blank">Long-term energy system planning considering short-term operational constraints.</a>
      Energy Strategy Reviews, 26, p.100383.
    </i>
  </li>
</ul>


